if SHIELD_LEFT1_LEFT

config ZMK_KEYBOARD_NAME
    default "left"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_LEFT1_LEFT

if SHIELD_LEFT1_LEFT || SHIELD_LEFT1_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_LEFT1_LEFT || SHIELD_LEFT1_RIGHT
